@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    font-family: "Fredoka", sans-serif;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

.containerBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

    margin: 20% 0 0 0;

    gap: 0;
}


.btn {
    background-color: rgba(255, 255, 255, 0);

    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 25px;

    font-size: clamp(6rem, 100px, 7rem);
    font-family: "Fredoka", sans-serif;
    font-weight: 600;

    color: white;

    width: clamp(7rem, 30vw, 10.4rem);
    height: clamp(7rem, 30vw, 10.4rem);

    transition: .5s;
    border: solid #DEDEDE;
}

.c1 {
    border-width: 0 3px 3px 0;
}
.c2 {
    border-width: 0 3px 3px 3px;
}
.c3 {
    border-width: 0 0 3px 3px;
}

.c4 {
    border-width: 3px 3px 3px 0;
}
.c5 {
    border-width: 3px 3px 3px 3px;
}
.c6 {
    border-width: 3px 0 3px 3px;
}

.c7 {
    border-width: 3px 3px 0 0;
}
.c8 {
    border-width: 3px 3px 0 3px;
}
.c9 {
    border-width: 3px 0 0 3px;
}


.winCx {
    animation: winnerX .2s ease-in-out infinite alternate;
}

@keyframes winnerX {
    from {
        color: rgba(230, 57, 70, 1);
    } to {   
        color: rgba(230, 57, 70, 0.5);
    }
}

.winCo {
    animation: winnerO .2s ease-in-out infinite alternate;
}

@keyframes winnerO {
    from {
        color: rgba(22, 127, 236, 1);
    } to {   
        color: rgba(22, 127, 236, 0.5);
    }
}

@keyframes tremble {
    to {
        transform: rotate(45deg);
    }
}

.containerPoint {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;

    margin: 0;
    padding: 0;
}

.containerPoint p {
    font-weight: 700;

    margin: 0;
    padding: 0;

    text-align: center;
}
.containerPoint p:first-child {
    font-size: 48px;
}

.containerPoint p:last-child {
    font-size: 21px;
}

.circle, .pointO {
    color: rgba(22, 127, 236, 1);
}
.cross, .pointX {
    color: rgba(230, 57, 70, 1);
}

.containerBtn {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    
    border: none;

    background-color: #dedede00;

    width: 75px;
    height: 75px;

    display: flex;

    justify-content: center;

   
    transition: 1s;
}
.resetBtn svg {
    width: 100%;
    height: 100%;
}
.resetBtnAnimation {
    animation: rotation .5s ease-out alternate;
    animation-iteration-count: 2;
}
@keyframes rotation {
    
    to {
        transform: rotate(-90deg);
    }
}